<h1><%= name %></h1>

<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      <input type="text" value="{{unbound this.value}}"/>
    </td>
  </tr>
  {{/each}}
</table>

<button {{action 'save'}}>Update</button>

{{outlet}}
