<h1><%= name %></h1>

<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{view <%= _.classify(appname) %>.BoundTextFieldView contentBinding="this"}}
    </td>
  </tr>
  {{/each}}
</table>

<button {{action 'save'}}>Update</button>

{{outlet}}
