<h1><%= name %></h1>

<table>
  {{#each buffer}}
  <tr>
    <td>
      <strong>{{key}}:</strong>
    </td>
    <td>
      {{input value=value}}
    </td>
  </tr>
  {{/each}}
</table>

<button {{action 'save'}}>Update</button>

{{outlet}}
